---
layout: products
title: LuxeCraft&co
---
{% for product in site.products %}
{% include product.html %}
{% endfor %}
<div class="product">
<h3>Granite Coasters</h3>
<p>Embrace the free-spirited allure of our Vintage Turquoise Bracelet, a handcrafted masterpiece that marries earthy charm with artisanal elegance. Featuring raw, natural turquoise stones—renowned for their calming hues and organic patterns—set in intricately detailed antique silver settings, this bracelet is a wearable ode to bohemian sophistication. Perfect for layering or standing solo, it adds a touch of wanderlust to any outfit, from casual denim to flowing maxi dresses.</p>
<p>$19.99</p>
<button
  class="snipcard-add-item"
  data-item-id="product1"
  data-item-name="Granite Coasters"
  data-item-price="19.99"
  data-item-url="https://luxecraftco.github.io"
  >
Add to Card
</button>
</div>
